@charset "UTF-8";
h1span{
color:#d0e35b;
}
#lead{
border-top:#6fbb9a 1px dotted;
text-align:center;
}
.greeting{
border-top:#6fbb9a 1px dotted;
text-align:center;
}
body{
  background-color: #fbf9cc;
  background-image: ur1(../ossan.jpg);
  background-repeat: repeat-x;
}
