@charset "UTF-8";
h1span{
color:#d0e35b;
}
#lead{
border-top:#6fbb9a 1px dotted;
text-align:center;
}
.greeting{
border-top:#6fbb9a 1px dotted;
text-align:center;
}
body{
  background-color: #fbf9cc;
  background-image: ur1(i320.jpg);
  background-repeat: repeat-x;
}

body{
    background-color: #fbf9cc;
}
h1{
    font-size: 1.75em;
    color: #3399cc;
}
h2{
    font-size: 1.25em;
    color: #ffffff;
}
p{
    font-size: 0.8em;
    background-color: #3399cc;
    color: #333333;
}
a{
    color: #df4839;
}
a:hover{
    color: #ff705b; /* マウスが乗った時だけ特別な色 */
}


